In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.collections import PolyCollection
from matplotlib.colors import colorConverter

In [18]:
Data = pd.read_csv('res_croatia.csv', sep=';')

In [20]:
d = np.array(Data)
Data

,Unnamed: 0,latitude,longtitude,Unnamed: 3,r_wet,p_wet,Unnamed: 6,Unnamed: 7,r_dry,p_dry,Unnamed: 10,Unnamed: 11
0,1,44.5500,15.3667,NaN,0.961367,0.376968,0,0.128311,0.745414,0.187096,0,1.432816e-01
1,2,43.1667,16.4500,NaN,0.915153,0.452236,1,0.000460,0.655006,0.121406,1,1.661223e-02
2,3,46.1330,15.8830,NaN,0.883625,0.415981,1,0.007759,0.752749,0.213691,1,8.862222e-03
3,4,42.7667,16.8994,NaN,0.886682,0.452020,1,0.027479,0.635651,0.118227,1,3.645330e-08
4,5,45.5331,18.6331,NaN,1.115646,0.496680,0,0.558382,0.713581,0.192984,1,7.962590e-04
5,6,45.3331,14.4500,NaN,0.983301,0.410616,1,0.047677,0.713445,0.162776,0,3.629473e-01
6,7,43.5167,16.4331,NaN,0.975870,0.448484,0,0.128879,0.682583,0.139931,1,3.313629e-02
7,8,45.8167,15.9781,NaN,1.027499,0.454398,1,0.033328,0.817592,0.216836,0,2.387623e-01
8,9,44.8167,14.9831,NaN,0.936707,0.322624,1,0.040990,0.661170,0.188977,0,NaN

In [21]:
lat = np.array(Data['latitude'])
lon = np.array(Data['longtitude'])
r_wet = np.array(Data['r_wet'])
p_wet = np.array(Data['p_wet'])
r_dry = np.array(Data['r_dry'])
p_dry = np.array(Data['p_dry'])

In [22]:
fig = plt.figure(figsize=(10,20))  # predefined figure size, change to your liking. 
# But doesn't matter if you save to any vector graphics format though (e.g. pdf)
ax = fig.add_axes([0.05,0.05,0.9,0.85])

In [23]:
bot, top, left, right = 13.0, 20.0 ,42.0, 47.0,  # just to zoom in to only Germany
m = Basemap(projection='merc', resolution=None,
    llcrnrlat=left,
    llcrnrlon=bot,
    urcrnrlat=right,
    urcrnrlon=top)

In [16]:
m.shadedrelief()
plt.show()

In [8]:
def f(par, filename):
    color = []
    for i in par:
        i
        const = float(min(par))
        if i == const:
            color.append((0.3, 0.3, 0.3))
        else:
            x = np.log2((float(i) - const) / float(float((max(par))) - const) + 1)
            color.append((1, 1 - x, 0))
    m.shadedrelief()
    m.drawparallels(np.arange(-56,63.,2.), color='.2', labels=[1,0,0,0])
    m.drawparallels(np.arange(-55,63.,2.), color='.2', labels=[0,0,0,0])
    m.drawmeridians(np.arange(-6.,18.,2.), color='.2', labels=[0,0,0,1])
    m.drawmeridians(np.arange(-7.,18.,2.), color='.2', labels=[0,0,0,0])
    xpt,ypt = m(lon,lat)
    lonpt, latpt = m(xpt,ypt,inverse=True)
    for ind, i in enumerate(color):
            m.plot(xpt[ind],ypt[ind], 'o', color = color[ind]) 
    plt.title(filename, fontsize = 20,  y=1.04)
    plt.savefig(filename)
    plt.show()

In [ ]:
f(r_wet, "Rainy periods, parametr R")
f(p_wet, "Rainy periods, parametr P")
f(r_dry, "Dry periods, parametr R")
f(p_dry, "Dry periods, parametr P")

In [111]:
max(par)

'1.170852949'

In [10]:
f(r_wet, "Rainy periods, parametr R")

In [113]:
r_wet

array(['0.987601576', '0.8141057', '0.757215624', ..., nan, nan, nan], dtype=object)